node_modules
npm-debug.log
.git
.gitignore
.env
.env.development
.env.staging
.env.production
.env.local
.env.*.local
.idea
.vscode
dist
build
.DS_Store
coverage
.nyc_output
__tests__
jest.config.js
*.md
.github
docker-compose.yml
Dockerfile
